/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Custom CSS*/

/*prjs11_2 Page*/

.practice{
    background-image: url("../images/newspaper_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 100%;
    background-attachment: fixed;
	text-align:center;
	font-family: Helvetica, sans-serif;
}

.practice h1{
	font-size: 3em;
	margin:200px auto 0;
	background-color:#a2a2a2;
	width:500px;
	padding:20px;
	text-transform: uppercase;
	font-weight: bold;
	
}

.practice li{
	font-size: 1.5em;
	padding: 5px;
}

.practice ul{
	padding:20px;
	background-color:#c8c8c8;
	width:500px;
	margin: 0 auto;
}

/*cheese*/

.cheese{
	text-align: center;
	background-color: #2500FF;
	max-width: 800px;
	margin: 0 auto;
	font-family: 'Times New Roman', Times, serif;
}

.cheese header img{
	max-width:100px;
	padding: 20px;
}

.cheese h1{
	color:#ffffff;
	font-size: 1.5em;
	padding-bottom:15px;
}

.cheese h2{
	font-family: meatball,sans-serif;
	font-weight: 400;
	font-style: normal;
	color:#FFA500;
	font-size: 2.8em;
	max-width: 80%;
	margin: 10px auto;
}

.cheese h3{
	font-size:1.2em;
	font-family: meatball,sans-serif;
	font-weight: 400;
	font-style: normal;
	color:#FFA500;
	padding-bottom:10px;
}

.cheese main img{
	max-width:300px;
}

.cheese p{
	font-size:1em;
	color:#060027;
	text-align: left;
	padding:5px;
}

.cheese section{
	background-color: #ffffff;
	max-width:80%;
	margin:20px auto;
	padding:20px;
}

.cheese section a{
	text-decoration: none;
	background-color: #2500FF;
	color: #ffffff;
	padding:5px;
	max-width: 100px;
	border:#FFA500 solid 2px;
	border-radius: 5px;
}

/*Media Queries*/


@media screen and (min-width: 320px){

	.cheese{
		width:100%;
	}
    
}

@media screen and (min-width: 768px){

	.cheese h1{
		font-size: 2em;
	}

	.cheese h2{
		font-size: 3em;
	}

	.cheese h3{
		font-size:1.5em;
	}
    
	.cheese header img{
		max-width:150px;
	}

	.cheese h1{
		padding-bottom:0;
	}
}

@media screen and (min-width: 992px){

	.cheese h3{
		padding-bottom: 20px;
	}
    
}
