/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Custom CSS*/

/*prjs11_2 Page*/

.practice{
    background-image: url("../images/newspaper_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 100%;
    background-attachment: fixed;
	text-align:center;
	font-family: Helvetica, sans-serif;
}

.practice h1{
	font-size: 3em;
	margin:200px auto 0;
	background-color:#a2a2a2;
	width:500px;
	padding:20px;
	text-transform: uppercase;
	font-weight: bold;
	
}

.practice li{
	font-size: 1.5em;
	padding: 5px;
}

.practice ul{
	padding:20px;
	background-color:#c8c8c8;
	width:500px;
	margin: 0 auto;
}

/*cheese*/

/*Media Queries*/

@media screen and (min-width: 320px){
    
}

@media screen and (min-width: 576px){
    
}

@media screen and (min-width: 768x){
    
}

@media screen and (min-width: 992px){
    
}

@media screen and (min-width: 1200px){
    
}